[submodule "EBRAINS_InterscaleHUB"]
	path = EBRAINS_InterscaleHUB
	url = https://github.com/mfahdaz/EBRAINS-InterscaleHUB.git
	branch = data_channel_via_registry
[submodule "EBRAINS_RichEndpoint"]
	path = EBRAINS_RichEndpoint
	url = https://github.com/mfahdaz/EBRAINS-RichEndpoint.git
	branch = data_channel_via_registry
[submodule "nest-simulator"]
	path = nest-simulator
	url = https://github.com/multiscale-cosim/nest-simulator.git
[submodule "EBRAINS_ConfigManager"]
	path = EBRAINS_ConfigManager
	url = https://github.com/mfahdaz/EBRAINS_ConfigManager.git
	branch = main
[submodule "EBRAINS_Launcher"]
	path = EBRAINS_Launcher
	url = https://github.com/mfahdaz/EBRAINS_Launcher.git
	branch = main
[submodule "EBRAINS_WorkflowConfigurations"]
	path = EBRAINS_WorkflowConfigurations
	url = https://github.com/mfahdaz/EBRAINS_WorkflowConfigurations.git
	branch = main
